<h2> <%= @recipe.title %> </h2>

<p> <%= @recipe.description %> </p>

<ul>
  <% @recipe.instructions.each do |i| %>
    <li>
      <%= i.phase %>
    </li>
  <% end %>
</ul>

<%= link_to "Back", root_path %>
