// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.field_with_errors input {
  border-color: #f146;
}

.card-header-title {
  color: white;
}

.card-header {
  background-color: rgb(218, 163, 62);
}

.card-content {
  background-color: rgba(255, 166, 0, 0.445);
}

.card-footer {
  background-color: rgb(224, 186, 115) ;
}
